<nav class="site-nav">
  <div class="wrapper">
    <ul class="nav-list">
      <li><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
      <li><a href="{{ '/pages/operations.html' | relative_url }}" class="nav-link">Operations</a></li>
      <li><a href="{{ '/pages/components.html' | relative_url }}" class="nav-link">Components</a></li>
      <li><a href="{{ '/pages/types.html' | relative_url }}" class="nav-link">Types</a></li>
      <li><a href="{{ '/pages/safety.html' | relative_url }}" class="nav-link">Safety</a></li>
      <li><a href="{{ '/pages/accessories.html' | relative_url }}" class="nav-link">Accessories</a></li>
      <li><a href="{{ '/pages/about.html' | relative_url }}" class="nav-link">About</a></li>
    </ul>
  </div>
</nav>